<% if session[:login_name].nil? %>
  <div><%= link_to "Log in", login_path %></div>
<% else %>
  <%= session[:login_name] %>
  <div><%= link_to "Log out", logout_path, method: :delete %></div>
  <div><%= link_to "Show projects", '#' %></div>
<% end %>
